<footer>
    <nav class="footer__navbar container">
        <ul class="footer__menu">
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="./shop.html">SHOP</a></li>
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="./register.html">REGISTRARSE</a></li>
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="./login.html">INGRESAR</a></li>
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="#">CONTACTO</a></li>
        </ul>
        <picture class="footer__logo">
            <img src="/images/branding/isotype.svg" alt="Logo Funkoshop">
        </picture>
    </nav>
    <p class="footer__derechos container CopyMax">Todos los derechos Resevados 2023 - Funkoshop &copy;</p>
    <p class="footer__derechos container CopyMin">Todos los derechos Resevados 2023<br>Funkoshop &copy;</p>
</footer>