/* Corresponde a normalize.css */

img{
    width: 100%;
}






/* INICIO HEADER */

/* Esta primer propiedad se suma a las que se encuentran en header.css */
header{
    padding: var(--spacing-36);
}


.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    max-width: 372px;
    /* min-width: 60px;    Si quiero que el logo del home no desaparezca al achicar la VW */
}

.header__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    position: relative;
}

.header__menubtn-link{
    font-size: var(--font-inter);
    font-family: var(--alternative-font);
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.header__menubtn-link:hover{
    background-color: var(--primary-color-900);
}

.chevron{
    padding: calc(var(--spacing-8) / 4) var(--spacing-18);
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.chevronsize{
    font-size: var(--font-medium);
}

.submenuopen:hover .header__submenu{
    display: inline-block;
}

.header__submenu{
    display: none;
    position: absolute;
    z-index: 1;
}

.header__submenubtn{
    width: 300px;
    background-color: var(--dark-bg-color-solid);
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.header__submenubtn:hover{
    background-color: var(--primary-color-900);
}

.header__submenubtn-link{
    font-size: var(--font-inter);
    font-family: var(--alternative-font);
}

/* FIN HEADER */




/* INICIO BANNER */

.banner__container{
    background-image: url(../../images/funkos-banner.webp);
    background-size: cover;
    background-attachment: fixed;
}

.banner__bgfilter{
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-color: rgba(211, 211, 211, 0.5); */
    backdrop-filter: blur(3px);
    backdrop-filter: brightness(0.5);
}


/* Inicio Media Query OPCION 1  (Asi lo arme inicialmente, tratando de controlar el padding en cada situacion (ancho de pantalla) */
/*
.banner__contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: padding 1s ease-in-out;
}

@media screen and (max-width: 1200px){
    .banner__contenido{
        padding: calc(var(--spacing-128) * 0.9);  
    }
}

@media screen and (min-width: 1201px){
    .banner__contenido{
        padding: calc(var(--spacing-128) * 0.9) 0;  
    }
}
*/
/* Fin Media Query OPCION 1 */

/* Inicio Media Query OPCION 2  (Simplificado y con menos repeticion de lineas) */
.banner__contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: calc(var(--spacing-128) * 0.9);  
    transition: padding 1s ease-in-out;
}

@media screen and (min-width: 1201px){
    .banner__contenido{
        padding-left: 0;  
        padding-right: 0;  
    }
}
/* Fin Media Query OPCION 2 */


.banner__title{
    color: var(--light-color-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.banner__text{
    color: var(--light-color-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    font-weight: 400;
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-36);  /* Este Margen segun figma es 48px pero puse spacing de 36px */
}

.banner__button{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-inter);
    font-weight: 500;
    background-color: var(--light-color-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

.banner__button:hover{
    background-color: var(--primary-color-solid);
    color: var(--light-color-solid);
}

/* FIN BANNER */




/* INICIO ARTICULOS */

.articles__container{
  padding-top: var(--spacing-68);
}

.article__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Ordena en forma "invertida" los hijos pares del "articles_container" */
/* cambia de posicion solamente el contenedor de la imagen */
.articles__container :nth-child(even){
    .article__image{
        order: -1;
    }
}

.article__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-28);
    align-items: start;
}

.article__detailstitle{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    color: var(--dark-color-solid);
    font-weight: 500;
    text-transform: uppercase;
}

.article__detailstext{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    color: var(--dark-color-solid);
    font-weight: 400;
    padding-bottom: var(--spacing-28);
    border-bottom: solid 3px var(--primary-color-solid);
}

.article__detailsbutton{
    padding: var(--spacing-18) var(--spacing-36);
    border-radius: 50px;
    background: var(--dark-bg-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-large);
    color: var(--light-color-solid);
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.article__detailsbutton:hover{
    background-color: var(--primary-color-solid);
    color: var(--light-color-solid);
}

.article__image{
    max-width: 600px;
}
/* FIN ARTICULOS */




/* INICIO SLIDER */

.slider__container{
    position: relative;
    margin-bottom: var(--spacing-68);
}

.slider__title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    color: var(--dark-color-solid);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: var(--spacing-68)
}

.slider__list{
    display: flex;
    justify-content: center;
    gap: var(--spacing-68);
}


/* INICIO Card del Slider */

/* Animacion para el cambio de imagen suave de la card */
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.card__imagecontainer{
    position: relative;
}

.card__prodimage, .card__boximage{
    max-width: 355px;
    animation: fade 0.9s;
}

.card__prodimage{
    display: inline-block; 
}

.card__boximage{
    display: none;
}

.card__imagecontainer:hover{
    .card__prodimage{
        display: none;
    }
    .card__boximage{
        display: inline-block;
    }

}

.card__newprod{
    position: absolute;
    right: 0;
    background-color: var(--primary-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    color: var(--light-color-solid);
    font-weight: 500;
    padding: var(--spacing-8) var(--spacing-24);
    z-index: 2;
}

.card__detailscontainer{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    padding: var(--spacing-16);
}

.card__prodfamily{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.card__prodname{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-medium);
    font-weight: 700;
}

.card__prodprice{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-small);
    font-weight: 400;
}

.card__prodbill{
    color: var(--secondary-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    font-weight: 700;
}
/* FIN Card del Slider */


.slider__button{
    display: inline-block;
    position: absolute;
    padding: var(--spacing-8);
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 1;
    border: solid 2px var(--dark-color-300);
    transition: all .1s ease-in-out;
}

.slider__button:hover{
    border: solid 2px var(--secondary-color-900);
}

.left{
    left: 0;
    top: 50%;
    transform: translate(0%, 50%)
}

.right{
    right: 0;
    top: 50%;
    transform: translate(0%, 50%)
}

.slider__buttonicon{
    font-size: var(--font-large);
}

/* FIN SLIDER */




/* INICIO FOOTER */

/* Esta primer propiedad se suma a las que se encuentran en footer.css */
footer{
    padding: var(--spacing-68);
}


.footer__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.footer__menubtn-link{
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.footer__menubtn-link:hover{
    background-color: var(--primary-color-900);
}

.footer__logo{
    max-width: 140px;
}

.footer__derechos{
    text-align: center;
    margin-top: var(--spacing-36);
}

/* FIN FOOTER */