
/* INICIO HEADER */

.header__container{
    height: 144px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);  /* Este GAP segun figma es 49px pero puse spacing de 36px */
}

.header__menu-itemtexticon{
    padding: calc(var(--spacing-8) * 0.25) var(--spacing-18);   /*  Tener cuidado si se cambian los tamaños que no queden desparejos los botones */
    transition: all .3s ease-in-out;
}

.header__menu-itemtexticon:hover{
    background-color: var(--primary-color-900);
    transition: all .3s ease-in-out;
}

.header__menu-itemtext{
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.header__menu-itemtext:hover{
    background-color: var(--primary-color-900);
    transition: all .3s ease-in-out;
}

.arrow{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.arrowsize{
    font-size: var(--font-medium);
}

/* FIN HEADER */