/* Corresponde a normalize.css */

img{
    width: 100%;
}



/* INICIO HEADER */


/* Esta primer propiedad se suma a las que se encuentran en header.css */
header{
    padding: var(--spacing-36);
}



.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    max-width: 372px;
    /* min-width: 60px;    Si quiero que el logo del home no desaparezca al achicar la VW */
}

.header__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);  /* Este GAP segun figma es 49px pero puse spacing de 36px */
    position: relative; /* para que el submenu sea relativo a este elemento */
}

.header__menubtn-link{
    font-size: var(--font-inter);
    font-family: var(--alternative-font);
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.header__menubtn-link:hover{
    background-color: var(--primary-color-900);
}

.chevron{
    padding: calc(var(--spacing-8) / 4) var(--spacing-18);
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.chevronsize{
    font-size: var(--font-medium);
}

.submenuopen:hover .header__submenu{
    display: inline-block;
}

.header__submenu{
    display: none;
    position: absolute;
    z-index: 1;
}

.header__submenubtn{
    width: 300px;
    background-color: var(--dark-bg-color-solid);
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.header__submenubtn:hover{
    background-color: var(--primary-color-900);
}

.header__submenubtn-link{
    font-size: var(--font-inter);
    font-family: var(--alternative-font);
}

/* FIN HEADER */




/* INICIO BANNER */

.banner__container{
    background-image: url(../../images/funkos-banner.webp);
    background-size: cover;
    background-attachment: fixed;
}

.banner__bgfilter{
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-color: rgba(211, 211, 211, 0.5); */
    backdrop-filter: blur(3px);
    backdrop-filter: brightness(0.5);
}


/* Inicio Media Query OPCION 1  (Asi lo arme inicialmente, tratando de controlar el padding en cada situacion (ancho de pantalla) */
/*
.banner__contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: padding 1s ease-in-out;
}

@media screen and (max-width: 1200px){
    .banner__contenido{
        padding: calc(var(--spacing-128) * 0.9);  
    }
}

@media screen and (min-width: 1201px){
    .banner__contenido{
        padding: calc(var(--spacing-128) * 0.9) 0;  
    }
}
*/
/* Fin Media Query OPCION 1 */

/* Inicio Media Query OPCION 2  (Simplificado y con menos repeticion de lineas) */
.banner__contenido{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: calc(var(--spacing-128) * 0.9);  
    transition: padding 1s ease-in-out;
}

@media screen and (min-width: 1201px){
    .banner__contenido{
        padding-left: 0;  
        padding-right: 0;  
    }
}
/* Fin Media Query OPCION 2 */


.banner__title{
    color: var(--light-color-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.banner__text{
    color: var(--light-color-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    font-weight: 400;
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-36);  /* Este Margen segun figma es 48px pero puse spacing de 36px */
}

.banner__button{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-inter);
    font-weight: 500;
    background-color: var(--light-color-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

.banner__button:hover{
    background-color: var(--primary-color-solid);
    color: var(--light-color-solid);
}

/* FIN BANNER */




/* INICIO ARTICULOS */

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__container{
    width: 85%;
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-36);
}

.article__item{
    display: flex;
}

.article__details{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-28);
    align-items: start;     /* Esta la vi en el video, y anule el ancho del button "ver coleccion" */
}

.article__container :nth-child(even){
    .article__details{
        order: 1;
    }
}

.article__detailstitle{
    color: var(--dark-color-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.article__detailstext{
    color: var(--dark-color-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: var(--spacing-28);
    border-bottom: solid 3px var(--primary-color-solid);
}

.article__detailsbutton{
    /* width: 292px; */  /* Propiedad anulada por lo visto en el video */
    padding: var(--spacing-18) var(--spacing-36);
    border-radius: 50px;
    background: var(--dark-bg-color-solid);
    color: var(--light-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-large);
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.article__detailsbutton:hover{
    background-color: var(--primary-color-solid);
    color: var(--light-color-solid);
    transition: all .3s ease-in-out;
}

/* FIN ARTICULOS */




/* INICIO SLIDER */

.slider__container{
    width: 85%;
    position: relative;
    margin-bottom: var(--spacing-68);
}

.slider__title{
    color: var(--dark-color-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: var(--spacing-68)
}

.slider__list{
    display: flex;
    justify-content: center;
    gap: var(--spacing-68);
}

.slider__items{
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: var(--spacing-18);
}

.slider__imagecontainer{
    position: relative;
}

.slider__itemsimage{
    width: 360px;
    /* padding: var(--spacing-8); */
}

.slider__newitem{
    position: absolute;
    right: 0;
    background-color: var(--primary-color-solid);
    color: var(--light-color-solid);
    padding: var(--spacing-8) var(--spacing-24);
}

.slider__itemsfamily{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);
    font-weight: 500;
}

.slider__itemsname{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-medium);
    font-weight: 700;
}

.slider__itemsprice{
    color: var(--dark-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-small);
    font-weight: 400;
}

.slider__itemsbill{
    color: var(--secondary-color-solid);
    font-family: var(--primary-font);
    font-size: var(--font-xsmall);  /* Aqui el FIGMA indicana 12px y se puso 14px */
    font-weight: 700;
}

.slider__button{
    display: inline-block;
    position: absolute;
    /* background-color: brown; */
    padding: var(--spacing-8);
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.left{
    left: 0;
    top: 50%;
    transform: translate(0%, 50%)
}

.right{
    right: 0;
    top: 50%;
    transform: translate(0%, 50%)
}

.slider__buttonicon{
    font-size: var(--font-large);
}

/* FIN SLIDER */




/* INICIO FOOTER */

.footer__container{
    height: 343px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__div{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-18);  /* Este GAP segun figma es 49px pero puse spacing de 36px */
}

.footer__menu-item{
    padding: var(--spacing-8) var(--spacing-18);
    transition: all .3s ease-in-out;
}

.footer__menu-item:hover{
    background-color: var(--primary-color-900);
    transition: all .3s ease-in-out;
}

.footer__derechos{
    margin-top: var(--spacing-36);
}

/* FIN FOOTER */